<div class="box">
    <div class="box">
        <div class="box">
            <div class="box">
                <div class="box">
                    <div class="box">
                        <div class="box">
                            <div class="box">
                                <marquee><h2 id="banner-text">A floating banner text which keeps on rotating.</h2></marquee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>